{% extends 'SonataUserBundle:Profile:action.html.twig' %}

{% block body -%}
    <h1>Post list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Tags</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('blog_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.image }}</td>
                <td>{{ entity.tags }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('blog_show', { 'id': entity.id, 'slug': entity.slug }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('post_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('post_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
